dirs_to_scan:
  - "/home/danil/Dropbox"
  - "/home/danil/Dropbox (Old)"
  - "/media/danil/DRIVE_FOR_TV/pictures"

extensions_to_handle:
  - ".jpg"

target_folder_to_copy: "/media/user/TARGET_FOLDER_NAME"